@import "../../utilities/styles/breakpoints";

.product-list {
  // border: 1px solid red;
  height: 120px;
  padding: 13px;
  text-align: center;
  span {
    font-weight: 300;
    font-size: 3.5rem;
  }
  &-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (min-width: $tablet) {
  .product-list {
    max-width: 720px;
    &-title {
      font-size: 3rem;
    }
  }
}

@media (min-width: $laptop) {
  .product-list {
    max-width: 960px;
    &-title {
      font-size: 3.5rem;
    }
  }
}

@media (min-width: $desktop) {
  .product-list {
    max-width: 1200px;
    &-title {
      font-size: 4rem;
    }
  }
}
@media (min-width: $desktop-xxl) {
  .product-list {
    max-width: 1400px;
    &-title {
      font-size: 4.5rem;
    }
  }
}
