@import "../../utilities/styles/breakpoints";

.product-item {
  margin-top: -100px;
  // border: 1px solid green;
  text-align: center;
  width: $mobile;
  margin: 0 auto;
  img {
    width: 100%;
  }
  h1 {
    margin-top: 5px;
    font-size: 1.7rem;
  }
  &-category {
    display: block;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  &-description {
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    font-weight: 300;
    text-align: justify;
  }
  &-price {
    text-align: right;
    font-weight: bold;
  }
}

@media (min-width: $tablet) {
  .product-item {
    width: 45%;
  }
}

@media (min-width: $laptop) {
  .product-item {
    width: 30%;
  }
}

@media (min-width: $desktop) {
  .product-item {
    width: 24%;
  }
}
