@import "../../utilities/styles/breakpoints";

.product-item {
  border: 1px solid red;
  margin: 10 auto;
  img {
    width: 100%;
  }
  h1 {
    margin-top: 5px;
    font-size: 2.5rem;
  }
  span {
    display: inline-block;
    margin-top: 5px;
    font-size: 2rem;
    font-weight: 500;
  }
  p {
    display: block;
    margin-top: 5px;
    font-size: 1.8rem;
    font-weight: 300;
  }
  &-category {
    font-weight: bold;
  }
}

@media (min-width: $mobile) {
  .product-item {
    width: 45%;
    h1 {
      font-size: 2rem;
    }
    span {
      font-size: 1.5rem;
    }
    p {
      font-size: 2rem;
    }
    &-category {
      font-weight: normal;
    }
  }
}

// @media (min-width: $tablet) {
//   .product-list {
//     max-width: 720px;
//     &-title {
//       font-size: 3rem;
//     }
//   }
// }

// @media (min-width: $laptop) {
//   .product-list {
//     max-width: 960px;
//     &-title {
//       font-size: 3.5rem;
//     }
//   }
// }

// @media (min-width: $desktop) {
//   .product-list {
//     max-width: 1200px;
//     &-title {
//       font-size: 4rem;
//     }
//   }
// }
// @media (min-width: $desktop-xxl) {
//   .product-list {
//     max-width: 1400px;
//     &-title {
//       font-size: 4.5rem;
//     }
//   }
// }
